html {
    background-image: url('./images/bg-pattern.svg');
    background-color: hsl(230, 100%, 99%);
    background-repeat: no-repeat;
    font-family: 'Manrope', sans-serif;
    background-size: contain;
    height: 100%;
    width: 100%;
    color: hsl(225, 20%, 60%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.box {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 34rem;
    height: 25rem;
    margin: auto;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


/* ======================== TOP TEXT ========================== */

.top-text {
    background-image: url('./images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
    text-align: center;
    margin: 3rem auto 4rem auto;
}

.top-text h1 {
    color: hsl(227, 35%, 25%);
}

/* ======================== TOP TEXT ========================== */


/* ======================== TOP SECTION ========================== */

.top-section {
    height: 16.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.toggle-sec {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.discount-text {
    font-size: .7em;
    font-weight: bold;
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    border-radius: 10px;
    padding-left: .5em;
    padding-right: .5em;
}

.mob {
  display: none;
}

.price-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  padding: 1em;
  justify-content: center;
}

.page-view {
  width: 17em;
}

.page-view p {
  display: block;
  font-weight: bold;
  margin-top: .8em;
}

.price span {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

/* -------------- SLIDER ------------- */


.range-slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 4em auto 4em auto;
  }


  
  .range-slider:hover {
    opacity: 1;
  }
  
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 14px;
    border: 0;
    background-image: url('./images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(174, 86%, 45%);
    cursor: pointer;
    border-radius: 50%;
    padding: 1.5em;
    box-shadow: 1px 15px 40px 5px hsl(174, 86%, 45%);

  }
  
  .range-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 14px;
    border: 0;
    background-image: url('./images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(174, 86%, 45%);
    cursor: pointer;
    border-radius: 50%;
    padding: 1.5em;
  
  }

  




/* -------------- TOGGLE ------------- */
.switch {
position: relative;
display: inline-block;
width: 52px;
height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: hsl(174, 86%, 45%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(174, 86%, 45%);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* -------------- TOGGLE ------------- */

/* ======================== TOP SECTION ========================== */

/* ======================== BOTTOM SECTION ========================== */

.bottom-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 8.5;
    justify-content: center;
    gap: 6em;
    padding-top: 2rem;
    border-top: hsl(224, 65%, 95%) solid 2px;
}

li {
    list-style-image: url('./images/icon-check.svg');
    padding-left: .5em;
}

button {
    display: block;
    padding: 1em 4em;
    border-radius: 2em;
    border: none;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    color: white;
}

/* ======================== BOTTOM SECTION ========================== */


/* ################################ MOBILE ############################# */

@media (max-width: 560px) {

  html {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -25em;
}

  .top-text {
    background-image: url('./images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    text-align: center;
    margin: 3rem auto 1rem auto;
}


  .top-text p {
    width: 14em;
    display: block;
    margin: 1em auto;
  }

  .top-section {
    height: 22rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

  .box {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 25rem;
    height: 35rem;
    margin-bottom: 20em;
}

.page-view {
  order: 1;
  text-align: center;
}

.price {
  order: 3;
}

.range-slider {
  order: 2;
}

.toggle-sec {
margin-top: 2em;
}

button {
margin-top: -4.5em;
}

.discount-text {
  display: none;
}

.mob {
  display: inline;

}

}

/* ################################ MOBILE ############################# */